<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">

    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2014-2020 <a href="">Diet Maida health.</strong> All rights reserved.
</footer>
</div>
</body>

</html>